* {
  margin: 0;
  padding: 0;
}

/* Menu de Cores */
.color {
  border: black solid 1px;
  width: 40px;
  height: 40px;
  display: inline-block;
}

#color-palette div {
  border-radius: 50%;
}

/* Pixel Board */
#pixel-board {
  height: 250px;
  width: 250px;
  margin-right: 50%;
  align-items: center;
  display: inline-block;
  margin: auto;
  box-shadow: 10px 2px 10px 2px;
}

.pixel {
  background-color: white;
  height: 40px;
  width: 40px;
  border: black solid 1px;
  display: inline-block;
}

#board-size {
  margin-top: 20px;
  width: 120px;
  margin-bottom: 20px;
}

body {
  text-align: center;
  background-image: url(https://t4.ftcdn.net/jpg/03/39/16/41/360_F_339164168_EHlFVZnP5n4BCh4huPeILoPyD0LEhWzl.jpg);
  background-size: cover;
}

h1 {
  font-family: 'Indie Flower', cursive;
  margin-bottom: 1px;
  color: white;
}
